.financials-form {
    margin-left: 50%;
}

.ticker-input {
    display: flex;
    position: relative;
    text-align: center;
    margin-left: 0%;
    margin-top: 100px;
    height: 25px;
    border: none;
    border-radius: 7px;
    outline: 1.5px solid #011627;
}

.financials-form-container {
    /* border: 1px solid black; */
    height: 457px;
}

.financial-records-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option1 {
    width: 150px;
    height: 50px;
    margin-left: 20%;
    margin-top: 120px;
    border-radius: 7px;
    border: none;
    outline: 1px solid black;;
}

.option1:hover {
    cursor: pointer;
}

.option2 {
    width: 150px;
    height: 50px;
    margin-left: 10%;
    margin-top: 120px;
    border-radius: 7px;
    border: none;
    outline: 1px solid black;;
}

.option2:hover {
    cursor: pointer;
}

.option3 {
    width: 150px;
    height: 50px;
    margin-left: 10%;
    margin-top: 120px;
    border-radius: 7px;
    border: none;
    outline: 1px solid black;;
}

.option3:hover {
    cursor: pointer;
}

.option4 {
    width: 175px;
    height: 50px;
    margin-left: 10%;
    margin-top: 120px;
    border-radius: 7px;
    border: none;
    outline: 1px solid black;;
}

.option4:hover {
    cursor: pointer;
}

.company-name {
    text-align: center;
    margin-top: -20px;
    font-size: 27px;
}

.label1 {
    display: inline-flex;
    margin-left: 50px;
    margin-top: 50px;
}

.label2 {
    display: inline-flex;
    margin-left: 50px;
    margin-top: 50px;
}