.sidebar-container {
    width: 160px;
    position: absolute;
    height: 540px;
    background: #011627;
    padding-left: 25px;
    padding-right: 25px;
    color:aliceblue;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 0px;
    
}

.sidebar-item {
    display: flex;
    height: 50px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 80px;
    font-family: "Montserrat";
}

.sidebar-item:hover {
    cursor: pointer;
    background: #1493fb;
}
