.tradingview-widget-container2 {
    display:flex;
    margin-top: 00px;
    /* margin-left: 14.73%; */
    /* padding-right: 50px; */
}

.tradingview-widget-container__widget2 {
    position: absolute;
    width: 98.96%;
    /* margin-left: 0px; */
    margin-top: -5px;
    border-radius: 0px;



}