.tickerbody-container {
    width: 100%;
    display: block;
    /* position: absolute; */
    align-items: center;
    

}

.ticker-form {
    display: flex;
    position: relative;
    margin-left: 42.5%;
    margin-top: 50px;
}

.ticker {
    display: flex;
    position: relative;
    text-align: center;
    margin-left: 0%;
    margin-top: 0px;
    height: 25px;
    border: none;
    border-radius: 7px;
    outline: 1.5px solid #011627;
}

.ticker:hover {
    cursor: pointer;
    outline: 1.5px solid #1493fb;
}

.tickerdata-container {
    width: 50%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
    margin-top: 90px;
    margin-left: 32.5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border:none;
    outline: 1px solid #011627;
}

.tickerdata-container:hover {
    outline: 1.5px solid #1493fb;
    transform: scale(1.1);
}

.calendar {
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-left: 10%;
    width: 120px;
    height: 27px;
    border-radius: 7px;
    border: none;
    outline: 1px solid #011627;
}

.calendar:hover {
    cursor: pointer;
    outline: 1.5px solid #1493fb;
}

.form-tickerdata-container {
    display: flex;
}

